<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="autentica">
        <div>
            <label for="usuario">Usuário: </label>
            <input type="text" id="usuario" name="usuario" placeholder="Digite o seu nome viadin">
        </div>
        <div>
            <label for="senha">Senha: </label>
            <input type="password" id="senha" name="senha" placeholder="Digite a sua senha">
        </div>
        <input type="submit" name="enviar" value="Autenticar">
    </form>
    <br>
    <a href="index.html">Página inicial</a>
</body>
</html>